hostname = "localhost"
data_dir = "/var/lib/kapacitor"

[http]
  bind-address = ":9092"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/kapacitor.pem"

[logging]
    file = "/var/log/kapacitor/kapacitor.log"
    level = "INFO"

[replay]
  dir = "/var/lib/kapacitor/replay"

[storage]
  boltdb = "/var/lib/kapacitor/kapacitor.db"

[[influxdb]]
  enabled = true
  default = true
  name = "localhost"
  urls = ["http://localhost:8086"]
  username = "{{ kapacitor.username }}"
  password = " {{ kapacitor.password }}"
  timeout = 0
  insecure-skip-verify = false
  udp-buffer = 1000
  udp-read-buffer = 0

  [influxdb.subscriptions]
    {{ kapacitor.database }} = ["autogen"]
  [influxdb.excluded-subscriptions]

[slack]
  enabled = true
  url = "{{ kapacitor.slack_key }}"
  channel = "{{ kapacitor.slack_channel }}"
  global = false
  state-changes-only = false
